.game {
  width: 720px;
  border: solid 1px #ddd;
  margin: 0 auto;
  background: #3ac7fe;
  border: solid 10px;
  text-align: center;
  min-height: 430px;
}

.btn {
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  background: dodgerblue;
}

.game h3 {
  padding: 10px;
  background: black;
  color: white;
}

.game .game-body {
  padding: 20px;
}

.game .game-options {
  text-align: center;
}
.game .card {
  width: 50px;
  height: 80px;
  padding: 10px;
  border: solid 1px #808080;
  background-color: white;
  display: inline-block;
  border-radius: 10px;
  font-size: 10pt;
  text-align: center;
  margin: 3px;
  border: solid 3px;
}

.game .status {
  display: inline-block;
  background: gold;
  border: solid 5px white;
  border-radius: 10px;
  padding: 5px 20px;
  margin: 0 auto;
  margin-top: 10px;
  display: none;
}

.players {
  width: 500px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.player {
  width: 40%;
  border: solid 5px #f5f5f5;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
  margin: 1%;
  vertical-align: top;
  background: #f5f5f5;
}

.player.active {
  border: solid 5px #222;
}

.points {
  text-align: center;
  font-size: 20pt;
  font-weight: bold;
  margin: 10px;
}

.deck {
  float: left;
  background: white;
  color: #222;
  padding: 10px;
  border-radius: 10px;
  border: double 5px;
}

.btn {
  background: #222;
  color: white !important;
  border-radius: 0px;
}

body {
  font-family: sans-serif;
  background-color: rgba(78, 117, 216, 0.324);
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.navBar-Main {
  box-shadow: 0px 10px 12px 0px rgb(0, 0, 0);
  display: flex;
  font-family: Didot, serif;
  background-color: #141317;
  color: white;
  justify-content: space-between;
  height: 55px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 100px;
  z-index: 2;
}

.navBar {
  display: flex;
  font-size: 12px;
  color: white;
  justify-content: space-between;
  align-items: center;
}

/* this makes link the same color as the selected font color  */
a {
  color: inherit;
}

.welcomePhoto {
  width: 100%;
  height: 625px;
}

/* Container holding the image and the text */
.welcomePhotoContainer {
  position: relative;
  text-align: center;
  color: white;
  z-index: -1;
  margin-bottom: 30px;
}

/* Centered text */
.centerText {
  text-shadow: 3px 3px rgb(0, 0, 0);
  font-family: Apple Chancery, cursive;
  font-size: 35px;
  position: absolute;
  top: 20%;
  left: 27%;
  transform: translate(-50%, -50%);
}

/* Additional text to lower right */
.lowerRightText {
  font-family: Apple Chancery, cursive;
  text-shadow: 2px 2px rgb(0, 0, 0);
  font-size: 25px;
  position: absolute;
  bottom: 40px;
  right: 140px;
}

/* Container holding the gamePlay photo and the dealer-player boxes */
.gamePhotoContainer {
  display: flex;
  text-align: center;
  color: white;
  z-index: -1;
}

.gamePhoto {
  width: 100%;
  height: 100%;
}

/* dealer-player boxes */
.dealerPlayerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-shadow: 3px 3px rgb(0, 0, 0);
  font-family: Apple Chancery, cursive;
  font-size: 35px;
  position: absolute;
  top: 20%;
  left: 27%;
  transform: translate(-50%, -50%);
}
